header  
    {background-color: rgb(255, 255, 255); width: 20%; height: 80px; float: left;padding-top: 15px;}

nav 
    {font-variant-caps: all-small-caps;font-size: 20px; float: right; background-color: rgb(255, 255, 255);
    width: 80%; height: 100px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
nav ul li   
    {display: inline; padding-left: 20px; float: right; margin-right: 50px; padding-top: 10px;}  

section 
    { width: 100%; float: left; text-align: center; }

footer 
    {background-color: rgb(255, 255, 255); width: 100%; float: left; text-align: center;}

div#primera-imatge 
    {width: 29%; float: left; margin-right: 19px;margin-left: 63px;margin-top: 20px;}    

div#segona-imatge 
    {width: 29%; float: left;margin-right: 18px; margin-top: 20px;}  

div#tercera-imatge 
    {width: 29%; float: left;margin-top: 20px;}

section img#quarta-imatge
    {margin-top: 20px;}

.centrat 
    {margin: 0 auto;width: 100%}

a { color: black;}
a {text-decoration: none; color: black;}        


